@inject State State
@inject IStyled Styled
@using Blazorise.Sidebar


<Styled>
	#sidebarmissa{
		top: 0;
		bottom: 0;
		position: fixed;
  		margin-top: 75px;
  		left: 0;
		width: 15%;
  		height: calc(100% - 75px);
  		z-index: 0;
  		transition: all 0.2s;
  		overflow-y: scroll;
	}
</Styled>

<Sidebar @ref="sidebar">
	<SidebarContent>
		<SidebarNavigation>

@if(State.deserializer.Keys == null){
	<span class="spinner-border text-center mt-3"></span>
} else {

@foreach (var day in State.deserializer.Keys){
	State.Calendar = State.deserializer[day];
	@if(State.Calendar.Celebration.Any()){
		@foreach (var item in State.Calendar.Celebration){
			<SidebarItem>
				<SidebarLink class="@(State.today == day ? "active bg-danger" : "")"
							id="@day" href="#"
							@onclick="(() => State.GetToday(day))">
					<p>@item.Title</p>
					@if (State.Calendar.Commemoration.Any()){
						<small>@day</small>
						<small>@State.deserializer[day].Commemoration.Select(c => c.Title).FirstOrDefault()</small>
					}
				</SidebarLink>
			</SidebarItem>
		}
	} else if (State.Calendar.Tempora.Any()){
		@foreach (var item in State.Calendar.Tempora){
			<SidebarItem>
				<SidebarLink class="@(State.today == day ? "active bg-danger" : "")"
							id="@day" href="#"
							@onclick="(() => State.GetToday(day))">
					<p>@item.Title</p>
					@if (State.Calendar.Commemoration.Any()){
						<small>@day</small>
						<small>@State.deserializer[day].Commemoration.Select(c => c.Title).FirstOrDefault()</small>
					}
				</SidebarLink>
			</SidebarItem>
		}
	} else {
		<SidebarItem>
			<SidebarLink class="@(State.today == day ? "active bg-danger" : "")"
						id="@day" href="#"
						@onclick="(() => State.GetToday(day))">
				<p>Feria</p>
				<small>@day</small>
	
			</SidebarLink>
		</SidebarItem>
	}
}
}
		</SidebarNavigation>
	</SidebarContent>
</Sidebar>
@code{
	Sidebar sidebar;
	void ToggleSidebar() {
		sidebar.Toggle();
	}

	protected override void OnInitialized() {
		State.OnChange += StateHasChanged;
	}
	protected override async Task OnAfterRenderAsync(bool firstrender) {
		if (firstrender) {
			await State.Focus();
		}
	}
	public void Dispose() {
		State.OnChange -= StateHasChanged;
	}
}
